.App {
  text-align: center;
}

.search-bar {
  padding: 15px;
  width: 100%;
  max-width: 400px;
  border-radius: 20px;
}

main {
  padding: 0px;
  background-color: rgb(233, 211, 181);
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  padding: 20px;
}